<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Thêm Khách Hàng</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="/css/fragments/navbar.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/sidebar.css">
    <link rel="stylesheet" href="/css/common/toast.css">
</head>
<body>
<!-- Hiển thị thông báo -->
<div th:replace="~{common/toast}"></div>
<!-- Nhúng navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!-- Sidebar -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="main-content mt-5">
<div class="bg-gray-200 py-2">
    <h2 class="text-lg font-bold">Thêm Khách Hàng</h2>

    <form th:action="@{/dashboard/admin/customers/create}" method="post" th:object="${customer}">
        <div>
            <label for="full-name">Họ tên:</label>
            <input type="text" id="full-name" name="fullName" class="border border-gray-300 rounded px-2 py-1" th:field="*{fullName}" required/>
        </div>
        <div>
            <label for="dob">Ngày sinh:</label>
            <input type="date" id="dob" name="dob" class="border border-gray-300 rounded px-2 py-1" th:field="*{dob}" required/>
        </div>
        <div>
            <label for="phone">Số điện thoại:</label>
            <input type="text" id="phone" name="phone" class="border border-gray-300 rounded px-2 py-1" th:field="*{phone}" required/>
        </div>
        <div>
            <label for="address">Địa chỉ:</label>
            <input type="text" id="address" name="address" class="border border-gray-300 rounded px-2 py-1" th:field="*{address}" required/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="border border-gray-300 rounded px-2 py-1" th:field="*{email}" required/>
        </div>
        <div>
            <label for="gender">Giới tính:</label>
            <select id="gender" name="gender" class="border border-gray-300 rounded px-2 py-1" th:field="*{gender}">
                <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender.getLabel()}"></option>
            </select>
        </div>
        <input type="hidden" name="purchaseCount" value="0" th:field="*{purchaseCount}"/>
        <button type="submit" class="bg-blue-600 text-white py-1 px-2 rounded">Thêm mới</button>
    </form>
</div>
</div>

<!-- Nhúng footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Nhúng script navbar -->
<div th:replace="~{fragments/navbar :: navbar-script}"></div>

<!-- Các script khác -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>