<nav th:fragment="sidebar" class="bg-dark sidebar d-flex flex-column p-3">
  <div class="text-center user-image-back">
    <img src="/img/dashboard/find_user.png" class="img-fluid rounded-circle avatar-user" alt="logo" width="80">
  </div>

  <ul class="nav flex-column mt-3">
    <li class="nav-item">
      <a th:href="@{#}" class="nav-link text-white">
        <i class="fas fa-desktop me-2"></i>Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{#}" class="nav-link text-white">
        <i class="fas fa-user me-2"></i>Quản lý người dùng
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{#}" class="nav-link text-white">
        <i class="fab fa-product-hunt me-2"></i>Quản lý sản phẩm
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{#}" class="nav-link text-white">
        <i class="fas fa-laptop me-2"></i>Quản lý nhãn hàng
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{#}" class="nav-link text-white">
        <i class="fas fa-file-invoice me-2"></i>Quản lý đơn hàng
      </a>
    </li>
  </ul>
</nav>
