<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!-- Footer -->
<footer th:fragment="footer" class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-column">
                <h3 class="footer-title">Về Phone Store</h3>
                <ul class="footer-links">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 class="footer-title">Hỗ trợ khách hàng</h3>
                <ul class="footer-links">
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                    <li><a href="#">Giao hàng & Nhận hàng</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 class="footer-title">Thông tin liên hệ</h3>
                <ul class="footer-contact">
                    <li><i class="fas fa-phone"></i> 0123 456 789</li>
                    <li><i class="fas fa-envelope"></i> support@codegym.com.vn</li>
                    <li><i class="fas fa-map-marker-alt"></i> Số 1, Thủ Đức, TP.HCM</li>
                </ul>
                <div class="social-links">
                    <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Phone Store. All rights reserved.</p>
        <div class="payment-methods">
            <p>Hỗ trợ thanh toán</p>
            <div class="payment-method"><img th:src="@{/img/Logo-VNPAY-QR-1-300x96.webp}" style="width: 70px"></div>
        </div>
    </div>
</footer>
</body>
</html>
